.btn-default {
    padding: 10px 20px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid $gold-color;

  }
  
  .btn-filled {
    background-color:  $gold-color;
  }
  
  .btn-filled:hover {
    transition: all 0.2s;
    background-color: $dark-gold-color;
  }
  
  .btn-transparent {
    background-color: transparent;
  }