.nav-link.active.custom-underline {
    position: relative;
}

.nav-link.active.custom-underline::after {
    content: '';
    position: absolute;
    left: 7px;
    right: 10px;
    bottom: -3px;
    width: calc(100% - 15px);
    height: 3px;
    background-image: repeating-linear-gradient(to right,
            $gold-color,
            $gold-color 30px,
            transparent 30px,
            transparent 35px);
    border-radius: 5px;
}

.navbar-toggler {
    font-size: 2.8rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: none;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .navbar-toggler {
        display: block;
    }
    .navbar-nav {
        display: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }


.navbar-side {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 200px;
    padding-left: 1em;
    left: -200px;
    transition: left 0.3s ease;
    z-index:1001;
}

.navbar-side.open {
    left: 0;
}

.fixed-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}