header {
    background-image: url(~/src/assets/images/Bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
}


.nav-link.active.custom-underline {
    position: relative;
}

.nav-link.active.custom-underline::after {
    content: '';
    position: absolute;
    left: 7px;
    right: 10px;
    bottom: -3px;
    width: calc(100% - 15px);
    height: 3px;
    background-image: repeating-linear-gradient(to right,
            $gold-color,
            $gold-color 30px,
            transparent 30px,
            transparent 35px);
    border-radius: 5px;
}